<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .container {
        text-align: center;
      }

      h1 {
        color: #333;
      }

      p {
        color: #666;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    </style>
    <title>401 - Not Authorized</title>
  </head>
  <body>
    <div class="container">
      <h1>401 - Not Authorized</h1>
      <p>Sorry, the page you are looking for might be in another castle.</p>
    </div>
  </body>
</html>
