<div class="mb-3">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="background-color: #dddddd"
  >
    <div class="container-fluid">
      <a
        href=""
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      >
        <strong class="fs-5" style="padding-left: 5px">MyResume</strong>
      </a>

      <a href="/login" class="btn btn-outline-secondary"> Login </a>
      <a href="/register" class="btn btn-secondary ms-2"> Register </a>
    </div>
  </nav>
</div>

<main>
  <div class="card">
    <h2>Welcome to MyResume</h2>
    <p>
      Our AI technology analyzes your input and provides personalized
      recommendations to help you create a resume that highlights your
      strengths.
    </p>
  </div>

  <div class="card">
    <h2>Easy to Use</h2>
    <p>
      Choose from a variety of modern and professional resume templates designed
      to impress hiring managers in any industry.
    </p>
  </div>

  <div class="card">
    <h2>Expert Guidance</h2>
    <p>
      Access tips and guidelines throughout the resume-building process,
      ensuring that your resume showcases your qualifications effectively.
    </p>
  </div>
</main>
